:root {
    --lightColor: #c285ff;
    --darkColor: #000c18;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 10;
        fill-opacity: 0;
    }
    75% {
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        transform: rotate(-90deg);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes calloutAnim {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.callout {
    height: 100vh;
    margin-bottom: 40px;
    width: 100%;
    top: 0;
    color: var(--lightColor);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Hexigon {
    stroke: var(--lightColor);
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    stroke-width: 4;
    fill-opacity: 1;
    animation: dash 1.2s ease-in-out forwards;
    animation-delay: 0.5s;
    transform-origin: center center;
}

#hexContainer {
    margin-bottom: 40px;
}

h1 {
    margin: 0;
}

.callout-container {
    margin-bottom: 40px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.call {
    opacity: 0;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    animation: calloutAnim 1.2s ease-in-out forwards;
    animation-delay: 1.5s;
}

.shrink {
    animation: shrink 0.5s ease-in-out forwards;
    animation-delay: 2.5s;
}